.anim {
	position: absolute;
	transform: translate(-50%, -50%);

	img {
		opacity: 0;
		position: absolute;
		transform: translate(0, -50%);
	}
}

.animInRoom {
	width: 3%;
	img {
		filter: drop-shadow(0 0 5px var(--txtPrimary));
		transition: 0.2s;
	}
}

.animInRoom.isActive {
	img {
		animation: animUp 2s;
	}
}

.animOnPlayer {
	width: 2%;
	img {
		filter: drop-shadow(0 0 5px var(--txtPrimary));
		transition: 0.2s;
	}
}

.animOnPlayer.isActive {
	img {
		animation: animUp 2s;
	}
}

@keyframes animUp {
	0% {
		opacity: 0;
		top: 0px;
	}
	75% {
		opacity: 1;
		top: -15px;
	}
	100% {
		opacity: 0;
		top: -15px;
	}
}

.animBattle {
	width: 20%;
	img {
		filter: drop-shadow(0 0 5px rgb(126, 0, 0));
		opacity: 0;
		transition: 0.2s;
		transform-origin: center;
	}
	.--1 {
		transform: translate(0, -50%) rotate(20deg);
	}
	.--2 {
		transform: translate(0, -50%) rotate(-20deg) scaleX(-1);
	}
}

.animBattle.isActive {
	.--1 {
		animation: animBattleLeft 3s;
	}
	.--2 {
		animation: animBattleRight 3s;
	}
}

@keyframes animBattleLeft {
	0% {
		opacity: 1;
		transform: translate(-150px, -50%) rotate(-20deg);
	}
	25% {
		opacity: 1;
		transform: translate(0, -50%) rotate(20deg);
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes animBattleRight {
	0% {
		opacity: 1;
		transform: translate(150px, -50%) rotate(20deg) scaleX(-1);
	}
	25% {
		opacity: 1;
		transform: translate(0, -50%) rotate(-20deg) scaleX(-1);
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.animBattleEnded {
	width: 20%;
	img {
		filter: drop-shadow(0 0 5px rgb(126, 0, 0));
		transition: 0.2s;
		transform-origin: center;
	}
	.--1 {
		transform: translate(0, -50%) rotate(20deg);
	}
	.--2 {
		transform: translate(0, -50%) rotate(-20deg) scaleX(-1);
	}
}

.animBattleEnded.isActive {
	.--winner {
		animation: animWinner 3s;
	}
	.--crown {
		width: 50%;
		transform: translate(50%, -100%);
		animation: animCrown 3s;
	}
}

@keyframes animWinner {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 1;
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes animCrown {
	0% {
		opacity: 0;
		transform: translate(50%, -100%);
	}
	25% {
		opacity: 1;
		transform: translate(50%, -160%);
	}
	75% {
		opacity: 1;
		transform: translate(50%, -160%);
	}
	100% {
		opacity: 0;
		transform: translate(50%, -160%);
	}
}
