/*--------------------------------------------------------------------------
BODY
--------------------------------------------------------------------------*/
body {
	background-color: var(--BG);
	color: var(--txtPrimary);
	font-family: 'Source Sans 3', sans-serif;
	font-weight: 200;
	// overflow-y: hidden;
	height: 100svh;
	width: 100vw;
	//fix ios zoom
	touch-action: pan-y;
	transform: scale(1);
}

.maxContent {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.container {
	padding: 60px;
}
