/*--------------------------------------------------------------------------
BODY
--------------------------------------------------------------------------*/
body {
	background-color: var(--BG);
	color: var(--txtPrimary);
	font-family: 'Source Sans 3', sans-serif;
	font-weight: 200;
	overflow-y: hidden;
	height: 100svh;
	width: 100vw;
}

.maxContent {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.container {
	padding: 60px;
}
