/*--------------------------------------------------------------------------
BTN PRIMARY
--------------------------------------------------------------------------*/
.btnPrimary {
	padding: 12px 30px;
	border-bottom: solid 1px var(--txtPrimary);
	background-color: var(--BGTranspary);
	color: var(--txtPrimary);
	box-shadow: 3px 3px 6px var(--black);
	font-family: 'Source Serif 4', serif;
	font-weight: 600;
	font-size: 18px;
	transition: 0.1s;
	/* position: absolute; */
	/* bottom: 60px; */
	margin-top: 18px;
}

.btnPrimary:disabled {
	color: gray;
	border-color: grey;
}

.btnPrimary:active {
	box-shadow: none;
	transform: translate(3px, 3px);
}

.btnPrimary:disabled:active {
	box-shadow: 3px 3px 6px var(--black);
	transform: none;
}
