.dialog {
	box-sizing: border-box;
	padding: 30px;
	width: 100%;
	height: 100%;

	gap: 30px;
	flex-direction: column;
	justify-content: space-between;

	background-color: var(--BGDialog);
	color: var(--txtPrimary);

	animation: fadeout 0.2s ease-in forwards;
}

dialog[open] {
	display: flex;
	animation: fadein 0.2s ease-in forwards;
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeout {
	0% {
		opacity: 1;
		display: flex;
	}
	99% {
		opacity: 0;
	}
	100% {
		display: none;
	}
}

/*--------------------------------------------------------------------------
ITEM
--------------------------------------------------------------------------*/

.itemInRoom {
	background-image: url('/assets/img/radialItem.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	position: relative;
	text-align: center;
}

.dices {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 6px;
	position: relative;
}

.dice {
	max-width: 30px;
}

.bonusDices {
	position: absolute;
	bottom: -50%;
	opacity: 0;
	transition: 0.2s;
}

.bonusDices.isActive {
	position: absolute;
	bottom: -70%;
	opacity: 1;
}

.nerfOfDices {
	color: red;
}

.luckOfDices {
	color: green;
}

.animationLegendary {
	z-index: 9;
	position: absolute;
	width: 100%;
	padding-top: 100%; /* La hauteur est égale à 100% de la largeur */
	animation: animLegendary 1s 0.2s steps(13);
	background-size: contain;
}

@keyframes animLegendary {
	0% {
		background-image: url('/assets/img/animLegendary/frame_1.png');
	}
	8% {
		background-image: url('/assets/img/animLegendary/frame_2.png');
	}
	15% {
		background-image: url('/assets/img/animLegendary/frame_3.png');
	}
	23% {
		background-image: url('/assets/img/animLegendary/frame_4.png');
	}
	31% {
		background-image: url('/assets/img/animLegendary/frame_5.png');
	}
	38% {
		background-image: url('/assets/img/animLegendary/frame_6.png');
	}
	46% {
		background-image: url('/assets/img/animLegendary/frame_7.png');
	}
	54% {
		background-image: url('/assets/img/animLegendary/frame_8.png');
	}
	62% {
		background-image: url('/assets/img/animLegendary/frame_9.png');
	}
	69% {
		background-image: url('/assets/img/animLegendary/frame_10.png');
	}
	77% {
		background-image: url('/assets/img/animLegendary/frame_11.png');
	}
	85% {
		background-image: url('/assets/img/animLegendary/frame_12.png');
	}
	92% {
		background-image: url('/assets/img/animLegendary/frame_13.png');
	}
	100% {
		background-image: url('/assets/img/animLegendary/frame_13.png');
	}
}

/*--------------------------------------------------------------------------
Inventory
--------------------------------------------------------------------------*/

.inventory {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 12px;
}

.inventory_item {
	position: relative;
	background-color: var(--BGTranspary);
	padding: 6px;
	width: 48px;
	height: 48px;

	box-shadow:
		inset 0px 1px 0px 0px #ff9c5156,
		0px 1px 0px 0px #713405;
}

.numOfItem {
	position: absolute;
	bottom: 0;
	right: 0;
}

/*--------------------------------------------------------------------------
Battle
--------------------------------------------------------------------------*/

.dialog_battle {
	.heroes {
		display: flex;
		justify-content: center;
		.hero {
			max-width: calc((100vw) / 5);
		}
	}
	.contentDialog {
		display: flex;
		justify-content: center;
		gap: 24px;
		.left {
			text-align: start;
		}
		.right {
			text-align: end;
		}
	}
	.footerDialog {
		text-align: center;
	}
}

/*--------------------------------------------------------------------------
Power
--------------------------------------------------------------------------*/

.dialog_battle-boss {
	text-align: center;
}

.dialog_power {
	.contentDialog {
		margin-top: auto;
		text-align: center;
	}
}

/*--------------------------------------------------------------------------
Power --rodeur
--------------------------------------------------------------------------*/

.roomChoice {
	margin-top: 12px;
	display: grid;
	gap: 12px;
	grid-template-columns: repeat(auto-fit, minmax(48px, 1fr));
}

.roomChoice_item-btn {
	color: var(--txtPrimary);
	height: 48px;
	width: 48px;
	padding: 6px;
	background-color: var(--BGTranspary);
}

/*--------------------------------------------------------------------------
Power --death --druide
--------------------------------------------------------------------------*/

.userChoice {
	margin-top: 12px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(0, 0.33fr));
	grid-template-rows: repeat(2, 1fr);
	gap: 12px;
	justify-content: center;
	// .hero {
	// 	max-width: calc((100vw) / 4);
	// }
}

.userChoice_item-btn {
	color: var(--txtPrimary);
	padding: 6px;
	background-color: var(--BGTranspary);
}

.userChoice_item-username {
	padding-top: 6px;
	text-align: center;
}

/*--------------------------------------------------------------------------
Power --wizard
--------------------------------------------------------------------------*/

.luckText {
	margin-top: 12px;
	text-align: center;
}
