/*--------------------------------------------------------------------------
PopUp
--------------------------------------------------------------------------*/

.popup {
	z-index: 99;
	position: absolute;
	display: table;
	width: 80%;
	box-sizing: border-box;
	text-align: center;
	top: -30%;
	left: 50%;
	transform: translate(-50%, 0);
	background-color: #505050;
	padding: 12px 30px;
	border-radius: 5px;
	opacity: 0;
	transition: 0.5s;
}

.popup.is-active {
	top: 12px;
	opacity: 100;
}

.itemInPopUpDiv {
	display: flex;
	gap: 12px;
	align-items: center;
	justify-content: center;
}

.itemInPopUp {
	width: 36px;
}
