/*--------------------------------------------------------------------------
TITLES
--------------------------------------------------------------------------*/
.h1 {
	font-family: 'Deutsch', serif;
	letter-spacing: 0.2rem;
	font-weight: 400;
	color: var(--primary);
	font-size: 30px;
}

.h2 {
	font-family: 'Source Serif 4', serif;
	font-weight: 600;
	font-size: 24px;
}
