/*--------------------------------------------------------------------------
VARIABLES
--------------------------------------------------------------------------*/
:root {
	--primary: #fc750c;
	--BG: rgb(53, 46, 45);
	--BGTranspary: rgba(0, 0, 0, 0.3);
	--txtPrimary: #fdeabf;
	--txtGrey: #8a817f;
	--black: #000;
}
