@use 'settings/_colors.scss';
@use 'settings/_fonts.scss';
@use 'settings/_reset.scss';

@use 'components/_body.scss';
@use 'components/_titles.scss';
@use 'components/_fluidimg.scss';
@use 'components/_btnPrimary.scss';
@use 'components/_popUp.scss';
@use 'components/_QRCode.scss';
@use 'components/_dialog.scss';
@use 'components/_animBoardGame.scss';
@use 'components/_animLegendary.scss';
@use 'components/_endGame.scss';

/*--------------------------------------------------------------------------
Homepage - Mobile
--------------------------------------------------------------------------*/

.homepage_container {
	height: 100dvh;
	width: 100dvw;
	box-sizing: border-box;
	padding: 30px;
	background-image: url('/assets/img/cover.png');
	background-position: bottom left;
	background-size: cover;
}

.homepage_content {
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
}

.logoImg {
	max-width: 210px;
	display: block;
	margin: 0 auto;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 24px;
}

.labelForm {
	text-align: center;
	display: block;
	width: 100%;
}

.inputForm {
	margin-top: 6px;
	padding: 6px;
	width: 100%;
	height: 24px;
	color: var(--txtPrimary);
	background-color: var(--BGTranspary);
	box-shadow: 1px 1px 6px var(--black);
	text-align: center;
	font-family: 'Deutsch', serif;
	letter-spacing: 0.2rem;
}

.inputForm::placeholder {
	/* padding-left: 12px; */
	text-align: center;
}

.btnForm {
	margin-top: 24px;
}

.btnsGames {
	display: flex;
	flex-direction: column;
}

.activeGames > .refresh {
	position: absolute;
	bottom: 30px;
	right: 30px;
	background-color: unset;
	transition: 0.2s;
}

.btn-menuGames.refresh:active {
	transform: rotate(360deg);
}

.btn-joinGames {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: unset;
	background-color: var(--BGTranspary);
	padding: 12px 24px;
	margin-top: 12px;
	border-bottom: solid 1px var(--txtPrimary);
	color: var(--txtPrimary);
	box-shadow: 3px 3px 6px var(--black);
}

/*--------------------------------------------------------------------------
HowToPlay
--------------------------------------------------------------------------*/

.howToPlay {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 60px;
}

.howToPlay-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 24px;
}

.btnRules {
	position: absolute;
	display: flex;
	gap: 12px;
	bottom: 60px;
}

.rulesList {
	margin-top: 48px;
	height: 270px;
	overflow-y: scroll;
}

.rulesItem {
	position: relative;
	margin-top: 6px;
}

.rulesItem:before {
	content: '';
	background: url('../../assets/img/listArrow.svg');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	padding-left: 9px;
	margin-right: 6px;
	margin-top: 6px;
}

.dotsRules {
	position: absolute;
	top: -6px;
	left: 50%;
	transform: translate(-50%, 0);
}

/*--------------------------------------------------------------------------
ChooseHero
--------------------------------------------------------------------------*/

.chooseHero {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;
}

.heroImg {
	width: 360px;
}
.arrowNavigate {
	display: flex;
}

.arrowNavigate > button {
	background-color: unset;
}
.arrowNavigate-item {
	width: 24px;
}
.abilityTitle {
	font-family: 'Source Serif 4', serif;
	font-weight: 400;
	margin-top: 12px;
}
.heroDescription {
	text-align: center;
	margin-top: 12px;
}

/*--------------------------------------------------------------------------
Boardgame -Homepage
--------------------------------------------------------------------------*/

.boardgame--home {
	height: 100vh;
	width: 100vw;
	background-image: url('/assets/img/cover.png');
	background-position: bottom left;
	background-size: cover;
	background-repeat: no-repeat;
}

.boardgame--home_content {
	display: flex;
	width: fit-content;
	flex-direction: column;
	align-items: center;
	@media (min-width: 750px) {
		padding: 60px 120px;
	}
	@media (min-width: 1200px) {
		padding: 120px 240px;
	}
}

.boardgame--home_logoImg {
	max-width: 450px;
}

.activeGames > .content,
.createGame > .content {
	padding: 60px;
}

.gameNameForm {
	display: flex;
	width: fit-content;
	flex-direction: column;
	align-items: center;
}

.gameNameForm_content {
	position: relative;
	text-align: center;
}

.errorCreateGame {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	color: var(--txtGrey);
}

/*--------------------------------------------------------------------------
Boardgame - Waiting users
--------------------------------------------------------------------------*/

.cardUserList {
	margin-top: 30px;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 30px;
}

.cardUser-Empty,
.cardUser {
	border-bottom: solid 3px var(--txtPrimary);
	background-color: var(--BGTranspary);
	padding: 18px;
	display: flex;
	gap: 18px;
	flex-direction: column;
	align-items: center;
	.stats {
		display: flex;
		gap: 30px;
		margin-top: auto;
	}
}

.cardUser-Empty {
	border-bottom: solid 3px var(--txtPrimary);
	opacity: 20%;
}

.cardUser_name {
	font-family: 'Deutsch', serif;
	font-size: 30px;
	position: relative;
}

.cardUser_name::after,
.cardUser_name::before {
	content: '';
	position: absolute;
	top: 50%;
	flex-direction: row;
	background-color: var(--txtPrimary);
	height: 2px;
	width: 24px;
}
.cardUser_name::before {
	transform: translate(-100%, 0);
	left: -12px;
}
.cardUser_name::after {
	transform: translate(100%, 0);
	right: -12px;
}
.cardUser_ability {
	text-align: center;
}

/*--------------------------------------------------------------------------
Boardgame - boardgame display
--------------------------------------------------------------------------*/

.boardGame {
	position: relative;
}

.boardGameImg {
	position: absolute;
	z-index: -1;
}

.userPawn {
	position: absolute;
	display: inline-flex;
	transition: 0.2s;
	width: 3%;
	img {
		filter: drop-shadow(0 0 5px var(--primary));
	}
}

/*--------------------------------------------------------------------------
userMap
--------------------------------------------------------------------------*/

.maxContent {
	height: 100dvh;
	width: 100dvw;
}

.mapUserContainer {
	padding: 30px;
	height: 100%;
	display: flex;
	gap: 12px;
	flex-direction: column;
	text-align: center;
	justify-content: space-between;
	position: relative;
}

.directionSalle {
	font-weight: 300;
}

.directionsArrows {
	margin-top: auto;
	display: grid;
	grid-template-columns: repeat(3, 42px);
	grid-template-rows: repeat(3, 42px);
	justify-content: center;
	align-items: center;
}

.directionArrow_img {
	margin: auto;
	pointer-events: none;
}

.directionArrow_top {
	grid-area: 1/2/1/3;
}

.directionArrow_bot {
	grid-area: 3/2/3/3;
}

.directionArrow_left {
	grid-area: 2/1/2/1;
}

.directionArrow_right {
	grid-area: 2/3/2/3;
}

.directionArrow {
	background-color: var(--BGTranspary);
	height: 100%;
	width: 100%;
	border-radius: 3px;
}

.directionArrow:disabled {
	opacity: 20%;
}

.sideBarUser {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.actionButtons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 12px;
	.actionButton {
		color: var(--txtPrimary);
		height: 48px;
		width: 48px;
		padding: 6px;
		background-color: var(--BGTranspary);
		position: relative;
		transition: 0.2s;
	}
	.actionButton:disabled {
		img {
			opacity: 0.2;
		}
	}
}

#cooldown {
	position: absolute;
	transform: translate(-50%, 0);
	color: var(--black);
	font-weight: 800;
	font-size: 24px;
}

.swipe {
	position: absolute;
	width: 30px;
	bottom: 18px;
	transform: translate(-50%, 0);
	left: 50%;
}

.cardHero {
	background-color: var(--BG);
	display: grid;
	grid-template-columns: repeat(3, auto);
}

.cardHero_stats {
	grid-area: 1/3/1/3;
	text-align: end;
}

.cardHero_hero {
	font-family: 'Deutsch', serif;
	letter-spacing: 0.2rem;
	font-weight: 400;
	color: var(--primary);
	font-size: 36px;
}

.cardHero_img {
	margin: 0 auto;
	max-width: 222px;
	grid-area: 1/1/1/-1;
	&.--hero {
		filter: grayscale(0.8);
	}
	&.--death {
		z-index: 1;
		width: 50%;
		margin: auto;
	}
}

.lifes {
	grid-area: 1/1/1/1;
}

.cardHero_stats-life {
	margin: 0 auto 0 0;
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.cardHero_stats-life > li > img {
	max-width: 30px;
}

.cardHero_stats-atk-def {
	font-style: italic;
	font-weight: 400;
	span {
		font-weight: 200;
	}
}
